* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #673297;
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
}

.container {
  width: 100%;
  height: 100vh;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}